@import url('./signup.css');
@import url('../style/header.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto+Slab:wght@100;200&family=Roboto:wght@300&family=Ubuntu:ital,wght@0,200;1,200&display=swap');
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  padding: 1rem 2rem 1rem 2rem;
}