.form-container{
    width: 100%;
     background-color: aliceblue;
     display: flex;
     height: 100vh;
     justify-content: center;
     padding: 2rem 0rem 2rem 0rem;
 }
 .form-container h2{
     text-align: center;
 
 }
 .form-head{
     padding: 1rem;
     width: 25%;
     height: 46vh;
     border-radius: .625rem;
     background-color: white;
 }
 
 .input-container{
     width: 100%;
     margin-top: .5rem;
 }
 .input-container input{
     width: 100%;
     margin-bottom: .2rem;
     font-size: 1rem;
     padding: .5rem;
     border: 2px solid #dbdbdb;
     outline: none;
     border-radius: .25rem;
 }
 .btn{
     display: flex;
     /* justify-content:center; */
     margin-top: 2rem;
 }
 .btn button{
     background-color: rgba(0, 0, 255, 0.61);
     border: none;
     outline: none;
     font-size: 1rem;
     padding: .6rem 3rem .6rem 3rem;
     border-radius: .25rem;
     color: white;
     cursor: pointer;
 }